<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
</head>
<body>
    <div class="container">
        <header class="hero">
            <a href="/src/app/app.component.html">
                <i class="fa-solid fa-circle-arrow-left back-btn"></i>
            </a>
            <div class="hero-info">
                <h1 class="name">John Doe</h1>
                <p class="relationship">Amigo</p>
            </div>
        </header>


        <section class="contact-info">
            <div class="info-line">
                <i class="fa-solid fa-phone-flip"></i>
                <p class="phone-number">341-6117882</p>
            </div>

            <div class="info-line">
                <i class="fa-solid fa-message text"></i>
                <p class="phone-number">341-6117882</p>
            </div>

            <div class="info-line">
                <i class="fa-solid fa-phone-flip"></i>
                <p class="phone-number">341-6117882</p>
            </div>

            <div class="info-line">
                <i class="fa-solid fa-phone-flip"></i>
                <p class="phone-number">341-6117882</p>
            </div>
        </section>
    </div>
    
</body>
</html>