<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/aeccf62a3c.js" crossorigin="anonymous"></script>
  <title>App-Lista de Contactos</title>
  
  
</head>
<body>
  <div class="container">
    <header class="header">
        <form class="search-bar">
          <input type="search-name" class="contact-search" name="search-area" placeholder="Search">
        </form>
        <a href="#"><i class="fa-solid fa-circle-plus"></i></a>
    </header>
    <section class="contacts-library">
        <ul class="contact-list">
          <a href="#">
            <div class="contact-section">
              <li class="list__item">
                <p class="contact-name">XXXX</p>
                <p class="relationship">Amigo</p>
              </li>
              <li class="list__item">
                <i class="fa-solid fa-phone-flip"></i>
                <i class="fa-solid fa-message text"></i>
              </li>
            
            </div>
          </a>
        <hr>
          <a href="#">
            <div class="contact-section">
              <li class="list__item">
                <p class="contact-name">XXXX</p>
                <p class="relationship">Amigo</p>
              </li>
              <li class="list__item">
                <i class="fa-solid fa-phone-flip"></i>
                <i class="fa-solid fa-message text"></i>
              </li>
            </div>
          </a>
        <hr>
          <a href="#">
            <div class="contact-section">
              <li class="list__item">
                <p class="contact-name">XXXX</p>
                <p class="relationship">Amigo</p>
              </li>
              <li class="list__item">
                <i class="fa-solid fa-phone-flip"></i>
                <i class="fa-solid fa-message text"></i>
              </li>
            </div>
          </a>
        <hr>
          <a href="#">
            <div class="contact-section">
              <li class="list__item">
                <p class="contact-name">XXXX</p>
                <p class="relationship">Amigo</p>
              </li>
              <li class="list__item">
                <i class="fa-solid fa-phone-flip"></i>
                <i class="fa-solid fa-message text"></i>
              </li>
            </div>
          </a>
        <hr>
          <a href="#">
            <div class="contact-section">
              <li class="list__item">
                <p class="contact-name">XXXX</p>
                <p class="relationship">Amigo</p>
              </li>
              <li class="list__item">
                <i class="fa-solid fa-phone-flip"></i>
                <i class="fa-solid fa-message text"></i>
              </li>
            </div>
          </a>
        <hr>
       
      </ul>

    </section>

  </div>
</body>
</html>
